// HELPER CLASS
.u-margin-right-xs {
  margin-right: var(--space-6) !important;
}

.u-margin-right-s {
  margin-right: var(--space-10) !important;
}

.br-desktop {
  display: none;
  @include respond(tablet) {
    display: none;
  }
  @include respond(desktop) {
    display: inline;
  }
}

.br-tablet {
  display: none;
  @include respond(tablet) {
    display: inline;
  }
}

.br-mobile {
  @include respond(tablet) {
    display: none;
  }
  @include respond(desktop) {
    display: none;
  }
}
